#content{
    .module.wysiwyg{

        &.pattern-background{
        background: url(../images/compressed/fe-pattern.jpg);
        position:relative;

            &:before{
                @include pseudo;
                top:0;
                right:0;
                left:0;
                border-top: 100px solid $color-default-inverse;
                border-left: 100vw solid transparent;
                
                @include breakpoint (small only){
                    border-top: 50px solid $color-default-inverse;
                    top:-1px;
                }//end small breakpoint
            }//end module wysiwyg before

            .inner{
                max-width: $container;

                .entry-content{
                    margin-top: 100px;
                    padding: $spacing--xl;
                    
                    @include breakpoint (large only){
                        padding: $spacing--md;
                    }//end large breakpoint
                    
                    @include breakpoint (medium only){
                        padding: $spacing--sm;
                    }//end medium breakpoint
                    
                    @include breakpoint (small only){
                        margin-top: 50px;
                        padding: $spacing--sm $spacing--xs $spacing--xs;
                    }//end small breakpoint

                    h1{
                        text-transform: uppercase;
                        text-align: center;
                        margin-bottom: $spacing--lg;
                        color: $color-default-inverse;
                        letter-spacing: 2px;
                        
                        @include breakpoint (medium only){
                            margin-bottom: $spacing--sm;
                        }//end medium breakpoint
                        
                        @include breakpoint (small only){
                            font-size: $fontsize-mobile-h1;
                            max-width: 200px;
                            margin: auto;
                            margin-bottom: $spacing--sm;
                        }//end small breakpoint
                    }//end h1

                    .tabs{
                        background: none;
                        border:none;

                        .tabs-title{
                            width:49.5%;
                            border-radius: $border-radius $border-radius 0 0;
                            background-color: $color-secondary;
                            overflow: hidden;
                            text-align: center;
                            font-family: $font-main;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            color: $color-accent-1;
                            font-weight: $font-semibold;
                            position: relative;

                            &>a{
                                color: $color-accent-1;
                                font-size: $fontsize-h2;
                                padding: $spacing--sm $spacing--xs $spacing--lg;
                                @include transition (all .2s ease-in-out);

                                @include breakpoint(medium only){
                                    font-size: $fontsize-medium;
                                }//end medium breakpoint

                                @include breakpoint(small only){
                                    font-size: $fontsize-medium;
                                    line-height: 1.466rem;;
                                    padding: $spacing--xs $spacing--xs $spacing--lg;
                                    letter-spacing: 0;
                                }//end small breakpoint
                                &:hover{
                                    background: darken($color-secondary, 5%);
                                    @include transition (all .2s ease-in-out);
                                }//end hover
                            }//end a

                            &>a:focus, &>a[aria-selected=true]{
                                background: $color-default-inverse;
                                color: $color-default;
                                @include transition (all .2s ease-in-out);
                            }//end a focus and selected

                            &:last-child{
                                float:right;
                            }//end tabs title last child

                            &.is-active{
                                background-color: $color-default-inverse;
                                color: $color-default;
                                z-index:2;
                                @include transition (all .2s ease-in-out);
                            }//end is active
                        }//end tabs title
                    }//end tabs


                    .tabs-content{
                        border-radius: $border-radius;
                        box-shadow: 0 2px 10px rgba(0,0,0,.25);
                        position: relative;
                        z-index:1;
                        margin-top: -$spacing--sm;

                        @include breakpoint(medium only){
                            margin-top: -2.8rem
                        }//end medium breakpoint

                        @include breakpoint(small only){
                            margin-top: -2.8rem;
                            padding: 0;
                        }//end small breakpoint
                        .tabs-panel{
                            padding: $spacing--md;

                            @include breakpoint(medium only){
                                padding:0;
                                padding-top:2rem;
                            }//end medium breakpoint

                            @include breakpoint(small only){
                                padding:0;
                                padding-top:2rem;
                            }//end small breakpoint

                            .show-for-large{

                                h3{
                                    color: $iir-blue;
                                }//end h3

                                h4{
                                   font-size: $fontsize-medium;
                                   font-family: $font-body;
                                   font-weight: $font-bold;
                                   color: $color-accent-2;
                                }//end h4

                                ul{
                                    margin-left: 0;
                                    line-height: 2rem;
                                    font-size: $fontsize-medium;
                                    list-style: none;
                                    margin-bottom: 0;

                                    li{
                                        margin-bottom: $spacing--xs;

                                        &:last-child{
                                            margin-bottom: 0;
                                        }//end li last child
                                    }//end li
                                }//end ul


                                .columns{
                                    border-left:2px solid rgba($color-accent-1, .5);
                                    padding-left: $spacing--xs;
                                    padding-right: $spacing--lg;
                                    margin-bottom: $spacing--xs;
                                }
                            }//end show for large

                            .hide-for-large{
                                .accordion{
                                    .accordion-item{
                                        .accordion-title{
                                            color: $color-primary;
                                            font-size: $fontsize-regular;
                                            font-weight: $font-bold;
                                            border:none;
                                            background-color: $color-default-inverse;
                                            padding-right: $spacing--xxl;
                                            @include transition (all .2s ease-in-out);

                                            &:hover, &[aria-selected=true]{
                                              padding-left: $spacing--sm;
                                              background-color: $color-default-inverse;
                                              @include transition (all .2s ease-in-out);
                                              
                                              @include breakpoint (small only){
                                                  padding-left: $spacing--xs;
                                              }//end small only
                                            }//end hover and aria selected true
                                            &:focus,{
                                                background-color: $color-default-inverse;
                                            }//end focus

                                            &::before{
                                                font-weight: $font-regular;
                                                font-family: 'FontAwesome';
                                                content:'\f107';
                                                font-size: 1.5rem;
                                                
                                                @include breakpoint (medium only){
                                                  font-size: 2.5rem;
                                                  margin-top: 0;
                                                  top: calc(50% - 28px);
                                                }//end medium only
                                                
                                                @include breakpoint (small only){
                                                  font-size: 2.5rem;
                                                  margin-top: 0;
                                                  top: calc(50% - 28px);
                                                }//end small only
                                            }//end before pseudo element
                                        }//end accordion title

                                        &.is-active>.accordion-title::before{
                                            font-family: 'FontAwesome';
                                            content:'\f106';
                                            font-size: 1.5rem;
                                            
                                            @include breakpoint (medium only){
                                                  font-size: 2.5rem;
                                                  margin-top: 0;
                                                  top: calc(50% - 28px);
                                                }//end medium only
                                                
                                            @include breakpoint (small only){
                                              font-size: 2.5rem;
                                              margin-top: 0;
                                              top: calc(50% - 28px);
                                            }//end small only
                                        }//end is active accordion title
                                        &:not(:last-child){
                                            border-bottom: 3px solid rgba($color-accent-1,.25);

                                        }//end not last child 
                                        .accordion-content{
                                            border: none;

                                            ul{
                                               list-style: none;
                                               font-size: $fontsize-regular;
                                               line-height: 1.5rem;
                                               
                                               @include breakpoint (small only){
                                                   margin-left: 0;
                                                }//end small only

                                               li{
                                                   margin-bottom: $spacing--xs;
                                                   
                                                   @include breakpoint (medium only){
                                                        margin-bottom: 0;
                                                    }//end medium breakpoint
                                               }//end li
                                            }//end ul
                                        }//end accordion content
                                    }//end accordion-item
                                }//end accordion
                            }//end hide for large
                        }//end tabs panel
                    }//end tabs content
                }//end entry content
            }//end inner
        }//end pattern-background

        &.dark-angle-background{
            &.show-for-medium{
                background: linear-gradient(170deg, $color-secondary 54%, $color-default 54%, $color-default 100%);
                position: relative;

                .inner{
                    max-width: $container;

                    .entry-content{
                        padding: $spacing--xl;

                        @include breakpoint (large only){
                            padding: $spacing--md;
                            padding-top: $spacing--xl;
                        }//end large only

                        @include breakpoint (medium only){
                            padding: $spacing--sm;
                        }//end medium only

                        h1{
                            text-transform: uppercase;
                            text-align: center;
                            margin-bottom: $spacing--lg;
                            letter-spacing: 2px;

                            @include breakpoint (medium only){
                                margin-bottom: $spacing--sm;
                            }//end medium only
                        }//end h1

                        .tabs{
                            border-radius: $border-radius $border-radius 0 0;
                            border:none;
                            box-shadow: 0 2px 5px rgba(0,0,0,.25);
                            position:relative;
                            z-index: 2;
                            background: $color-default-inverse;
                            height: 95px;


                            @include breakpoint (medium only){
                                height: 80px;
                            }//end medium only

                            .tabs-title{
                                width:19%;
                                @include transition (width .4s ease-in-out);

                                &:not(:last-child):not(.is-active)>a{
                                    border-right: 2px solid rgba($color-accent-1, .50);
                                }//end not tabs title last child

                                &>a{
                                    color: $color-accent-1;
                                    text-align: center;
                                    font-family: $font-main;
                                    font-size: $fontsize-h2;
                                    font-weight: $font-light;
                                    text-transform: uppercase;
                                    padding-top: 1.2rem;
                                    height: 100%;
                                    line-height: 29px;
                                    //@include transition (padding-top .4s ease-in-out);

                                    @include breakpoint (large only){
                                        font-size: 1.4rem;
                                    }//end large only
                                    
                                    @include breakpoint (medium only){
                                        font-size: $fontsize-mobile-h1;
                                        line-height: 1.6rem;
                                        letter-spacing:0;
                                        padding: $spacing--xs $spacing--xs/2;
                                    }//end medium only

                                    &:hover{
                                        background: darken($color-default-inverse, 5%);
                                        @include transition (all .2s ease-in-out);
                                    }//end hover
                                    strong{
                                        font-weight: $font-semibold;
                                        color: $color-default;
                                        letter-spacing: 2px;

                                        @include breakpoint (medium only){
                                            letter-spacing: 1px;
                                        }//end medium only

                                    }//end strong
                                }//end a

                                &:not(.is-active){
                                    height: 94px;
                                    overflow: hidden;

                                    @include breakpoint (medium only){
                                        height: 80px;
                                    }//end medium only
                                    
                                }//everything but the active one

                                &.is-active{
                                    width:24%;
                                    overflow: visible;
                                    position: relative;
                                    z-index: 3;
                                    @include transition (all .4s ease-in-out);
                                    height: 110px;
                                    margin-top: -7px;

                                    @include breakpoint (medium only){
                                        height: 98px;
                                    }//end medium only

                                    &>a{
                                        border-radius: $border-radius-small;
                                        background: $gradient-secondary;
                                        color: $color-default-inverse;
                                        box-shadow: 0 2px 10px rgba(0,0,0,.25);
                                        padding-top: 1.773rem;
                                        //padding-bottom: $spacing--sm;
                                        margin: 0;
                                        strong{
                                            color: $color-default-inverse;
                                        }//end strong
                                        @include transition (background .2s ease-in-out);

                                        @include breakpoint (medium only){
                                            padding-top: 1.5rem;
                                        }//end medium only

                                    }//end a
                                }//end is active
                            }//end tabs title
                        }//end tabs

                        .tabs-content{
                            border: none;
                            background: $color-default-inverse;
                            border-radius: 0 0 $border-radius $border-radius;
                            margin-bottom: $spacing--md;

                            .tabs-panel{
                                padding: $spacing--md 0;

                                @include breakpoint (medium only){
                                    padding: $spacing--sm 0;
                                }//end medium only

                                .columns{
                                    padding:0 $spacing--xl;

                                    @include breakpoint (large only){
                                        padding: 0 $spacing--md;
                                    }//end large only

                                    @include breakpoint (medium only){
                                        padding: 0 $spacing--sm;
                                    }//end medium only

                                    h2{
                                        color: $rr-blue;
                                        text-transform: uppercase;
                                        letter-spacing: 2px;
                                        border-bottom: 2px solid $rr-blue;
                                        padding-bottom: $spacing--xs;
                                    }//end h2

                                    .container.half, .container.third{
                                        border-left: 2px solid rgba($color-accent-1, .5);
                                        padding: 0 $spacing--xs;
                                        margin-top: $spacing--xs;

                                        @include breakpoint (medium only){
                                            padding: 0 $spacing--xs/2;
                                        }//end medium only

                                        p{
                                            line-height:2.2rem;
                                            font-size: $fontsize-medium;
                                            text-align: left;

                                            @include breakpoint (medium only){
                                                font-size: $fontsize-mobile-regular;
                                                line-height: 1.8rem;
                                            }//end medium only
                                        }
                                    }
                                }//end columns
                            }//end tabs panel
                        }//end tabs content
                    }//end entry content
                }//end inner

                &:before{
                    @include pseudo;
                    width: 80vw;
                    bottom: 0;
                    right:0;
                    border-left: 50px solid transparent;
                    border-bottom: 50px solid white;

                    @include breakpoint (medium only){
                        bottom:-1px;
                        border-left: 36px solid transparent;
                        border-bottom: 36px solid white;
                    }//end breakpoint medium only
                }//end wysiwyg before

                &:after{
                    @include pseudo;
                    width: 20vw;
                    bottom: 0;
                    border-right: 50px solid transparent;
                    border-bottom: 50px solid white;

                    @include breakpoint (medium only){
                        bottom:-1px;
                        border-right: 36px solid transparent;
                        border-bottom: 36px solid white;
                    }//end breakpoint medium only
                }//end wysiwyg after
            }//end show-for-medium
            &.hide-for-medium{
                background: linear-gradient(170deg, $color-secondary 54%, $color-default 54%, $color-default 100%);
                position: relative;

                .inner{
                    max-width: $container;

                    .entry-content{
                        padding: 0 0 $spacing--xs;

                        h1{
                            text-transform: uppercase;
                            text-align: center;
                            letter-spacing: 2px;
                            margin: $spacing--sm 0 $spacing--sm;
                            font-size: $fontsize-mobile-h1;
                        }//end h1

                        .tabs{
                            border:none;
                            position:relative;
                            white-space: nowrap;
                            overflow-x: auto;
                            -webkit-overflow-scrolling: touch;
                            -ms-overflow-style: -ms-autohiding-scrollbar;
                            box-shadow: none;
                            background-color: transparent;
                            height: auto;
                            width: auto;
                            max-width: 543px;
                            margin: auto;
                            margin-bottom: $spacing--xs;

                            .tabs-title{
                                width: auto;
                                float: none;
                                display: table-cell;

                                &>a{
                                    text-align: center;
                                    font-family: $font-main;
                                    font-weight: $font-light;
                                    text-transform: uppercase;
                                    padding-top: 1.2rem;
                                    height: 100%;
                                    color: $color-accent-1;
                                    padding: $spacing--xs/2 $spacing--xs;
                                    font-size: $fontsize-medium;
                                    line-height: 22px;

                                    &:hover{
                                        background: darken($color-default-inverse, 5%);
                                        @include transition (all .2s ease-in-out);
                                    }//end hover
                                    strong{
                                        font-weight: $font-semibold;
                                        letter-spacing: 2px;
                                    }//end strong
                                }//end a

                                &:not(.is-active){
                                    height: auto;
                                    overflow: hidden;
                                }//everything but the active one

                                &.is-active{
                                    overflow: visible;
                                    position: relative;
                                    @include transition (all .4s ease-in-out);
                                    width: auto;
                                    height: auto;
                                    margin-top: 0;
                                    border-bottom: 3px solid $color-primary;
                                        @include breakpoint(small only) {
                                            border-bottom: 3px solid $rr-blue;
                                        }//end small only breakpoint


                                    &>a{
                                        border-radius: $border-radius-small;
                                        margin: 0;
                                        @include transition (background .2s ease-in-out);
                                        padding:$spacing--xs/2 $spacing--xs;
                                        background: none;
                                        color: $color-default;
                                        box-shadow: none;
                                    }//end a
                                }//end is active
                            }//end tabs title
                        }//end tabs

                        .tabs-content{
                            border: none;
                            background: none;
                            padding:$spacing--xs;
                            padding-top: 0;
                            margin-bottom: $spacing--sm;

                            .tabs-panel{
                                padding: $spacing--xs 0 0 0;
                                background: $color-default-inverse;
                                border-radius: $border-radius;
                                
                                &:after {
                                    @include clearfix;    
                                }//end tabs panel after
                                    
                                h1{
                                    text-align: center;
                                    font-family: $font-main;
                                    font-weight: $font-light;
                                    text-transform: uppercase;
                                    height: 100%;
                                    color: $color-default;
                                    font-size: $fontsize-medium;
                                    line-height: 22px;
                                    margin-bottom: 0;
                                    margin-top: 0;

                                    strong{
                                        font-weight: $font-semibold;
                                        letter-spacing: 2px;
                                    }//end strong
                                }//end h1

                                h2{
                                    color: $color-primary;
                                    text-transform: uppercase;
                                    letter-spacing: 2px;
                                    border-bottom: 2px solid $color-primary;
                                    padding-bottom: $spacing--xs;
                                }//end h2

                                .container.half, .container.third{
                                    border-left: 2px solid rgba($color-accent-1, .5);
                                    padding: 0 $spacing--xs;
                                    margin-top: $spacing--xs;

                                    p{
                                        line-height:24px;
                                        font-size: 14px;
                                        text-align: left;
                                    }//end p
                                }//end container half and container third
                                
                                .container.panel{
                                    padding: $spacing--xs;
                                    margin-bottom: $spacing--xs;
                                    
                                    &:after {
                                            @include clearfix;    
                                    }//end container panel after
                                }//end container
                                
                                .tabs{
                                    display: block;
                                    border-radius: 0;
                                    border:none;
                                    position:relative;
                                    white-space: initial;
                                    overflow:initial;
                                    box-shadow: none;
                                    background-color: transparent;
                                    height: auto;
                                    max-width: none;
                                    margin: 0;
                                    
                                    .tabs-title{
                                        width: 50%;
                                        float: left;
                                        display: inline-block;
                                        border-bottom: 2px solid $color-accent-1;

                                        &>a{
                                            text-align: center;
                                            font-family: $font-main;
                                            font-weight: $font-semibold;
                                            text-transform: uppercase;
                                            height: 100%;
                                            color: $color-accent-1;
                                            padding: $spacing--xs .4rem;
                                            font-size: $fontsize-medium;
                                            line-height: 22px;
                                            letter-spacing: 2px;

                                        }//end a
                                        
                                        &.is-active{
                                            border-bottom: 2px solid $color-primary;
                                            @include breakpoint(small only) {
                                                border-bottom: 2px solid $rr-blue;
                                            }//end small only breakpoint

                                            &>a{
                                                border-radius: 0;
                                                background: linear-gradient(-179deg, rgba(123,185,233,0.00) 0%, rgba(61,145,209,0.25) 100%);
                                                margin: 0;
                                                @include transition (background .2s ease-in-out);
                                                padding:$spacing--xs .4rem;
                                                color: $color-primary;
                                                box-shadow: none;
                                                @include breakpoint(small only) {
                                                color: $rr-blue;
                                                }//end small only breakpoint

                                            }//end a
                                        }//end is active
                                    }//end tabs title nested 2
                                }//end tabs nested 2
                                
                                .tabs-content{
                                    padding: 0;
                                    margin-bottom: 0;
                                        
                                    .tabs-panel{
                                        padding: $spacing--xs;
                                    }//end tabs panel
                                }//end tabs-content nested 2
                            }//end tabs panel
                        }//end tabs content
                    }//end entry content
                }//end inner

                &:before{
                    @include pseudo;
                    width: 80vw;
                    right:0;
                    bottom:-1px;
                    border-left: 36px solid transparent;
                    border-bottom: 36px solid white;
                }//end wysiwyg before

                &:after{
                    @include pseudo;
                    width: 20vw;
                    bottom:-1px;
                    border-right: 36px solid transparent;
                    border-bottom: 36px solid white;
                }//end wysiwyg after
            }//end hide-for-large
        }//end dark angle background

        &.section-intro{
            .inner{
                .entry-content{
                    h1{
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        text-align: center;
                        margin-bottom: $spacing--lg;
                        
                        @include breakpoint (medium only){
                            margin-bottom: $spacing--sm;
                        }//end medium breakpoint
                        
                        @include breakpoint (small only){
                            font-size: $fontsize-mobile-h1;
                            margin-bottom: $spacing--sm;
                        }//end small breakpoint
                    }//end h1

                    h2{
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        color:$iir-blue;
                        text-align: center;
                        
                        @include breakpoint (small only){
                            font-size: $fontsize-medium;
                        }//end small breakpoint
                    }//end h2

                    p{
                        font-size: $fontsize-medium;
                        text-align: center;
                        
                        @include breakpoint (medium only){
                            font-size: $fontsize-mobile-regular;
                            line-height: 2rem;
                        }//end medium breakpoint
                        
                        @include breakpoint (small only){
                            font-size: $fontsize-mobile-regular;
                            line-height: 2rem;
                        }//end small breakpoint
                    }//end p
                }//end entry content
            }//end inner
        }//end section intro class  
        
        &.grey-top{
            background: linear-gradient(180deg, $color-secondary 450px, $color-default-inverse 450px, $color-default-inverse 100%);
            padding-bottom: $spacing--lg;
            .inner{
                padding: 0 $spacing--xl;
                
                @include breakpoint (large only){
                    padding: 0 $spacing--md;
                }//end large breakpoint
                
                @include breakpoint (medium only){
                    padding: 0 $spacing--sm;
                }//end medium breakpoint
                
                @include breakpoint (small only){
                    padding: 0 $spacing--xs;
                }//end small breakpoint
                .entry-content{
                    background-color: $color-default-inverse;
                    margin-top: $spacing--sm + 6.667rem;
                    position:relative;
                    padding: 0;
                    padding-top: $spacing--md;
                    border-radius: $border-radius;
                    box-shadow: 0px 2px 5px rgba(0,0,0,.25);
                    
                    @include breakpoint (small only){
                        margin-top: $spacing--xs + 6.667rem;
                    }//end small breakpoint
                    
                    h2{
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        color:$color-primary;
                        text-align: center;
                        margin-bottom: $spacing--sm;
                        
                        @include breakpoint (small only){
                            font-size: $fontsize-medium;
                            padding: 0 $spacing--xs;
                        }//end small breakpoint
                    }//end h2

                    p{
                        font-size: $fontsize-medium;
                        text-align: center;
                        max-width: 700px;
                        margin: auto;
                        
                        @include breakpoint (medium only){
                            font-size: $fontsize-mobile-regular;
                            max-width: 578px;
                        }//end medium breakpoint
                        
                        @include breakpoint (small only){
                            font-size: $fontsize-mobile-regular;
                            padding: 0 $spacing--xs;
                        }//end small breakpoint
                    }//end p
                    
                    .semi-circle{
                        position: absolute;
                        width:200px;
                        height:125px;
                        background: $color-default-inverse;
                        border-radius: 100px 100px 0 0;
                        top:-80px;
                        left:0;
                        right:0;
                        margin: auto;
                    }//end semi circle
                    
                    .accordion{
                        margin-bottom: 0;
                        border-radius: $border-radius;
                        overflow:hidden;
                        padding-top: $spacing--xs;
                        .accordion-item{
                            .accordion-title{
                                color: $iir-blue;
                                font-size: $fontsize-medium;
                                font-weight: $font-bold;
                                border:none;
                                background-color: $color-default-inverse;
                                padding: $spacing--xs $spacing--lg;
                                @include transition (all .2s ease-in-out);
                                
                                @include breakpoint (medium only){
                                    padding-left: $spacing--sm;
                                }//end medium breakpoint
                                
                                @include breakpoint (small only){
                                    padding-left: $spacing--xs;
                                }//end small breakpoint

                                &:hover, &[aria-selected=true]{
                                  background-color: $color-secondary;
                                  @include transition (all .2s ease-in-out);
                                }//end hover and aria selected true
                                &:focus,{
                                    background-color: $color-secondary;
                                }//end focus

                                &::before{
                                    font-weight: $font-regular;
                                    font-family: 'FontAwesome';
                                    content:'\f107';
                                    font-size: 2.5rem;
                                    padding-right: $spacing--lg;
                                    line-height: 1;
                                    top: calc(50% - 9.5px);
                                    
                                    @include breakpoint (medium only){
                                        padding-right:$spacing--sm;
                                    }//end medium breakpoint
                                    
                                    @include breakpoint (small only){
                                        padding-right:$spacing--xs;
                                    }//end small breakpoint
                                }//end before pseudo element
                            }//end accordion title

                            &.is-active>.accordion-title::before{
                                font-family: 'FontAwesome';
                                content:'\f106';
                                font-size: 2.5rem;
                            }//end is active accordion title
                            &:not(:last-child){
                                border-bottom: 3px solid rgba($color-accent-1,.25);

                            }//end not last child 
                            .accordion-content{
                                border: none;
                                background: $color-secondary;
                                padding: $spacing--sm $spacing--lg;
                                
                                @include breakpoint (medium only){
                                    padding: $spacing--sm;
                                }//end medium breakpoint
                                
                                @include breakpoint (small only){
                                    padding: $spacing--xs;
                                }//end small breakpoint

                                p{
                                  max-width: none;
                                  text-align: left;
                                  line-height: 2.4rem;
                                  
                                  @include breakpoint (medium only){
                                    font-size: $fontsize-mobile-regular;
                                    line-height:2rem;
                                  }//end small breakpoint
                                  
                                  @include breakpoint (small only){
                                    line-height:2rem;
                                  }//end small breakpoint
                                }//end p
                            }//end accordion content
                        }//end accordion-item
                    }//end accordion
                }//end entry content
            }//end inner
        }//end grey top
    }//end wysiwyg module
}//end content