// SHORTCODES


#ribbon-svg circle.cls-3 {
    fill: #fff;
    stroke: #3f7696;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 10px;
}

#ribbon-svg path.cls-2 {
    stroke: #3f7696;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 10px;
    fill: #48a3da;
}

#ribbon-svg circle.cls-1 {
    fill: #a1d2e5;
}

#key-svg circle.cls-1{fill:#a1d2e5;}
#key-svg path.cls-2{fill:#48a3da;}
#key-svg path.cls-2,#key-svg circle.cls-3{stroke:#3f7696;stroke-linecap:round;stroke-miterlimit:10;stroke-width:10px;}
#key-svg circle.cls-3{fill:#fff;}

#notebook-svg circle.cls-1{fill:#a1d2e5;}
#notebook-svg polygon.cls-2, #notebook-svg rect.cls-2{fill:#fff;}
#notebook-svg .cls-2,#notebook-svg path.cls-3,#notebook-svg polyline.cls-4{
	stroke:#3f7696;stroke-linecap:round;stroke-miterlimit:10;stroke-width:10px;fill: none;
}
#notebook-svg polygon.cls-3, #notebook-svg path.cls-3{
	stroke:#3f7696;
	fill:#48a3da;
	stroke-linecap:round;
	stroke-miterlimit:10;
	stroke-width:10px;
}
#notebook-svg rect.cls-3{
	fill:#48a3da;
	stroke:#3f7696;
	stroke-linecap:round;
	stroke-miterlimit:10;
	stroke-width:10px;
}
#notebook-svg path.cls-4,#notebook-svg line.cls-4{
	fill:none;	
	stroke:#3f7696;
	stroke-linecap:round;
	stroke-miterlimit:10;
	stroke-width:10px;}