

// ------------------------------------
////    OVERWRITES FOUNDATIONS
////-----------------------------------
//// hey like don't change these cause
//// they are important. just overwrite
//// them if you have to
// ------------------------------------

.sticky {
    z-index: 1;
    transform: none;
    -webkit-transform: none;
}
.card {
	border: 0;
	border-width: 0;
	border-color: #fff;
	background: none;
}

.button {
	margin-bottom: 0px;
}

// Fix for Box-Grid and Insurance Module
[class*="large-up-"].text-center {
    font-size: 0;
}
[class*="large-up-"].text-center > .insurance__logo {
    float: none;
    display: inline-block;
}
[class*="medium-up-"].text-center {
    font-size: 0;
}
[class*="medium-up-"].text-center > .insurance__logo {
    float: none;
    display: inline-block;
}

// Fix for foundation styling that ruins a Staff Carousel
.staff__carousel {
    .large-centered, .large-centered:last-child:not(:first-child) {
        clear: none;
    }// /.large-centered

    .staff__holder {
        display: block;
    }
}// /.staff__carousel


#callinfo {
    h3 {
        font-size: 1rem;
    }
}

// ------------------------------------
////   END OVERWRITES FOUNDATIONS
// ------------------------------------



