

// Variables

// COLORS
// name your colors here

$color-primary			: #48A3DA; 
$color-secondary		: #F2F2F2;
$color-accent-1			: #A0A0A0;
$color-accent-2			: #D85C4C; 
$color-default			: #3F3F3F;
$color-default-inverse	: #FFFFFF;
$rr-blue				: #3D91D1;
$iir-blue				: #3F7696; 
$gradient-primary       :linear-gradient(135deg, #73AEC7 0%, #3F7696 100%);
$gradient-secondary		:linear-gradient(143deg, #7ED0EF 0%, #48A3DA 100%);



///SPACING
$spacing--xs:  1rem; //15px
$spacing--sm:  2rem; //30px
$spacing--md:  3rem; //45px
$spacing--lg:  4rem; //60px
$spacing--xl:  5rem; // 75px
$spacing--xxl: 6rem; // 90px

// FONTS
$font-main		: 'Montserrat', sans-serif;;
$font-body              : 'Roboto', sans-serif;

//font sizes
$fontsize-regular: 15px;
$fontsize-medium: 1.2rem; //18px
$fontsize-h1: 2rem; //30px
$fontsize-h2: 1.6rem; //24px
$fontsize-h3: 1.2rem; //18px
$fontsize-mobile-regular: 1.0666667rem; //16px
$fontsize-mobile-h1: 1.333333rem; //20px

//font weight

$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;


// PATHS
$path-img		: '../images/compressed';
$path-font		: '../fonts';

//OTHER
$container: 1440px;
$border-radius: 15px;
$border-radius-small: 5px;
$border-radius-pill: 50px;